# task 4.9 Intro to Data visualization with Python

# Part 1

# import Libraries & Data

In [1]:
# import libraries 
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#reminding phyton the parent folder path
path = r'C:\Users\juank\Documents\04.2024 Instacar Basket Analysis'

In [3]:
# import new customer data set
Customers = pd.read_csv(os.path.join(path, '02. Data', 'Original Data', 'customers.csv'))

# 4. Wrangle the data so that it follows consistent logic

In [4]:
# review dataframe content

In [5]:
Customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
# check the dimensions of the dataframe
Customers.shape

(206209, 10)

In [7]:
# check datatypes
Customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [8]:
# examine statistical summaries
Customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [9]:
# rename columns
Customers.rename(columns={'First Name':'first_name','Surnam':'surname','Gender':'gender','STATE':'State','Age':'age',
                           'n_dependants':'number_dependant','fam_status':'family_status'},inplace=True)

In [10]:
# check column names 
Customers.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'State', 'age',
       'date_joined', 'number_dependant', 'family_status', 'income'],
      dtype='object')

In [11]:
#I do not consider that any columns should be eliminated for the analysis.

# 5. Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement

In [12]:
# checking for mixed data types in each column of the data frame 
for col in Customers.columns.tolist():
  weird = (Customers[[col]].map(type) != Customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (Customers[weird]) > 0:
    print (col)

first_name

In [13]:
# the first_name column has mixed data-types that need to be addressed
Customers['first_name'] = Customers['first_name'].astype('str')

In [14]:
# the column 'user_id', displayed as an integer, must be converted to a string 
Customers['user_id'] = Customers['user_id'].astype('str')

In [15]:
# validate the application of the codes
for col in Customers.columns.tolist():
  weird = (Customers[[col]].map(type) != Customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (Customers[weird]) > 0:
    print (col)

In [16]:
Customers.dtypes

user_id             object
first_name          object
surname             object
gender              object
State               object
age                  int64
date_joined         object
number_dependant     int64
family_status       object
income               int64
dtype: object

In [17]:
# there are no mixed data types and the data types in the columns of the hourly dataframe are correct

In [18]:
# missing data is now validated 
Customers.isnull().sum()

user_id             0
first_name          0
surname             0
gender              0
State               0
age                 0
date_joined         0
number_dependant    0
family_status       0
income              0
dtype: int64

In [19]:
#check duplicate data 
Customers_dups = Customers[Customers.duplicated()]

In [20]:
Customers_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, State, age, date_joined, number_dependant, family_status, income]
Index: []

In [21]:
# No duplicate data in the content of dataframe columns

# Combine your customer data with the rest of your prepared Instacart data.

In [22]:
# Import the file ords_prods_aggregated
ords_prods = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'ords_prods_aggregated.pkl'))

In [23]:
ords_prods.shape

(32404859, 26)

In [24]:
# Look for a common column in both DataFrames
ords_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_product_price,spender_flag,users_frecuency,users_frequency,order_frequency
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,10.400000,10.400000,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,10.400000,10.400000,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,...,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,7.070968,7.070968,Frequent Customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,...,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,10.948718,10.948718,Regular customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,...,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low spender,10.948718,10.948718,Regular customer

In [25]:
# remove duplicate column users_frecuency ((apparently it was duplicated in the previous task when trying to correct the word frecuency by frequency in the code)
index_of_duplicate_column = ords_prods.columns.get_loc('users_frecuency')

In [26]:
ords_prods.drop(ords_prods.columns[index_of_duplicate_column], axis=1, inplace=True)

In [27]:
# check removal of duplicate column users_frecuency

In [28]:
ords_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_product_price,spender_flag,users_frequency,order_frequency
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,10.400000,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,10.400000,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,7.070968,Frequent Customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,10.948718,Regular customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,...,Mid-range product,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low spender,10.948718,Regular customer

In [29]:
ords_prods.shape

(32404859, 25)

In [30]:
Customers.head()

,user_id,first_name,surname,gender,State,age,date_joined,number_dependant,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [31]:
# the common column in both dataframes is Users_id

In [32]:
ords_prods.dtypes['user_id']

dtype('int64')

In [33]:
Customers.dtypes['user_id']

dtype('O')

In [34]:
# Standardize the data type in the 'user_id' column across both dataframes.
ords_prods['user_id'] = ords_prods['user_id'].astype('str')

In [35]:
ords_prods.dtypes['user_id']

dtype('O')

In [36]:
# "Drop the _merge column from the first dataframe.
ords_prods = ords_prods.drop(columns=['_merge'])

In [37]:
#Merge both dataframes using the key column 'id_user!
ords_prods_customers = ords_prods.merge(Customers, on = 'user_id', indicator = True)

In [38]:
# Check the shape of the new dataframe
ords_prods_customers.shape

(32404859, 34)

In [39]:
# Review column headers
ords_prods_customers.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,first_name,surname,gender,State,age,date_joined,number_dependant,family_status,income,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,907,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
3,907,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
4,1000,1000,Apricots,18,10,12.9,505689,138,9,6,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both

In [40]:
# # Check inner join value counts
ords_prods_customers['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [41]:
# check ords_prods_customers.dtypes
ords_prods_customers.dtypes

Unnamed: 0                   int64
product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
order_id                     int64
user_id                     object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
add_to_cart_order            int64
reordered                    int64
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
avg_product_price          float64
spender_flag                object
users_frequency            float64
order_frequency             object
first_name                  object
surname                     object
gender                      object
State                       object
age                          int64
date_joined                 object
number_dependant             int64
family_status               object
income                       int64
_merge                    category
dtype: object

In [42]:
# Fix order_id datatype
ords_prods_customers['order_id'] = ords_prods_customers['order_id'].astype('str')

In [43]:
ords_prods_customers.dtypes

Unnamed: 0                   int64
product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
order_id                    object
user_id                     object
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
add_to_cart_order            int64
reordered                    int64
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
avg_product_price          float64
spender_flag                object
users_frequency            float64
order_frequency             object
first_name                  object
surname                     object
gender                      object
State                       object
age                          int64
date_joined                 object
number_dependant             int64
family_status               object
income                       int64
_merge                    category
dtype: object

# Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [44]:
ords_prods_customers.to_pickle(os.path.join(path, '02. Data','Prepared Data', 'ords_products_customers_merged.pkl'))